<div id="aboutejs" name="aboutejs" style="width:100%; height:330px;   text-align: right; background-size: 100% 100%;  background-image:url(Assets/images/about-02-.jpg);">about
</div>
<div id="aboutejs2" name="aboutejs2" style="width:100%; height:400px;   text-align: left; ">
    <h1 style="font-size:50px; color: blue; margin-top: 0px; text-align: center;">Zheming GU</h1>
    <a class="button11" href="/pdf" style="font-size:18px; color:white; position:absolute; margin-top: 80px; margin-left: 400px ;text-align: center;"> My Resume</a>
    <p style="font-size: large;">
       I am a student at Centennial College at Software Enginnering program in AI stream. It's my 3rd semester, will be graduated in 2 years.
    </p>
</div>