<div>
    <h1 style="font-size:50px; color: blue; margin-top: 0px; text-align: center;">My Resume</h1>
    
    <embed width="100%" height="3800px" style="margin:0px;" name="plugin" src="Assets/images/pdfDemo.pdf" type="application/pdf" />
    
</div>
