<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services list</title>
    <link rel="stylesheet" href="./css/reset.css">
    <style>
        body{
            background-color: rgb(235, 226, 211);
        }
        #div0{
            width: auto;
            height: 2048px;
            background: #cccccc;
            position: relative;
               
        }
        
        #div1 ul{
            position: absolute;
            left: 50%;
            margin-left: -480px;
            width: 1200px;
            height: 2048px;
            line-height: 210px;
            font-size: 36px;
            text-align: center;

            float: left;
            
            overflow: hidden;
               
        }
        .img-list li{
            width: 100%;
            height: 200px;
           
            list-style-type: none;
        }
        .div1{
            position: relative;
            float: left;
            width: 300px;
            height: 200px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .div1 img{
            width: 300px;
            height: 200px;
        }
        .div2{
            position: relative;
            float: left;
            width: 800px;
            height: 200px;
            background-color: rgb(169, 162, 235);
            margin-bottom: 10px;
        }
        .div2 p{
            width: 800px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1 style="font-size:50px; color: blue; margin-top: 30px; text-align: center;">My Services List</h1>
    <div id="div0" name="div0">
        
    <ul class="img-list">
        <li><div>
            <div class="div1">
                <img src="Assets/images/about-02sm.jpg">
            </div>
            <div class="div2"><p>general programming<br /><br />I am proficient in a variety of programming languages and environments, such as: C#, Java, Js, JSP, PHP, NodeJs,...Grails, Express, and various databases, such as Oracle, MS SQL, MySQL
            </p><div>
        </div>></li>
        <li><div>
            <div class="div1">
                <img src="Assets/images/IMG_01sm.jpg">
            </div>
            <div class="div2"><p>web development<br /><br /> I have developed several large websites, including Windows websites, Linux websites, Java websites, PHP websites, and mobile websites.
            </p></div>
        </div></li>
        <li><div>
            <div class="div1">
                <img src="Assets/images/IMG_05sm.jpg">
            </div>
            <div class="div2"><p>mobile<br /><br />Nowadays, the vast majority of people use mobile phones to surf the Internet, so developing mobile websites is also my favorite job.
            </p></div>
        </div></li>
    </ul>
    </div>
</body>
</html>
